body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffcc88;
    color: #333;
    font-size: 26px;
    text-align: center;
}

.bighead {
    font-size: 50px;
    color: #333;
    text-align: center;
    background-color: #ffcc00;
}

.blackie {
    font-size: 35px;
    color: #ffcc00;
    text-align: center;
    background-color: #333;
    border: 1.7px solid #ffcc00;
    padding: 10px;
    border-radius: 5px;
}

.pumpkin {
    font-size: 35px;
    color:#333;
    text-align: center;
    background-color: #ffcc00;
    border: 1.7px solid #333;
    padding: 10px;
    border-radius: 5px;
}

.grey {
    font-size: 35px;
    color: #ffcc00;
    text-align: center;
    background-color: #777;
    border: 1.7px solid #ffcc00;
    padding: 10px;
    border-radius: 5px;
}

.whitey {
    font-size: 35px;
    color: #333;
    text-align: center;
    background-color: #fff;
    border: 1.7px solid #777;
    padding: 10px;
    border-radius: 5px;
}

button {
    font-size: 26px;
    color: #ffcc00;
    background-color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffcc00;
    color:#fff
}

button:disabled {
    background-color: #fff;
    cursor: not-allowed;
    color: #fff;
}

.primary {
    background-color: #333;
    color: #ffcc00;
}

.secondary {
    background-color: #ffcc00;
    color: #777;
}

.tertiary {
    background-color: #777;
    color: #ffcc00;
}

.alternative {
    background-color: #ffcc00;
    color: #fff;
}

button.alternative:hover {
    background-color: #333;
    color: #ffcc00;
}

button.tertiary:hover {
    background-color: #ffcc00;
    color: #777;
}

button.secondary:hover {
    background-color: #777;
    color: #ffcc00;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#name {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    width: 300px;
}

#email {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    width: 300px;
}

#message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    width: 300px;
}

body ul {
    list-style-type: none; 
    padding: 0;
    align-content: center;
}

.link:hover {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

